.Menu{
    position: fixed;
    color: blueviolet;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80%;
    height: 100%;
    transition: 0.5s;
    background-color: rgb(175, 227, 175);
    left: -100%;
}
.activeMenu{
    left: 0%;

}

.Menu li{
    list-style: none;
    padding: 12px;
    margin-left: -250px;
}


